html {
  font-family: "Almendra", serif;
}

body {
  margin: 0;  
  color: #fff;
  background-image: ;
}

.screen {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 8px #000;
  color: rgb(223, 204, 36);

}

p {
  color: black;
  font-size: 48px;

}
