/* Variables globales */
:root {
  --font-principal: "Almendra", serif;
  --color-texto: #fff;
  --color-titulo: rgb(223, 204, 36);
  --color-parrafo: black;
  --sombra-texto: 2px 2px 8px #000;
  --titulo-size: 3rem;
  --parrafo-size: 48px;
}

/* Estilos */
html {
  font-family: var(--font-principal);
}

body {
  margin: 0;
  color: var(--color-texto);
  box-sizing: border-box;
}

.screen {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: var(--titulo-size);
  text-shadow: var(--sombra-texto);
  color: var(--color-titulo);
}

p, h3 {
  color: var(--color-parrafo);
  font-size: 2rem;

}
